:root {
    --accent-color: #4D5AE5;
    --secondary-color: #2E2F42;
    --ocean-color: #404BBF;
    --slate-color: #434455;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}


/*----------GENERAL CLASSES----------*/
body {
    font-family: var(--primary-font);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



/*----------HEADER--------*/

.page-header {}

.page-navigation {}

.logotype {
    color: var(--accent-color);
}
.web {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--accent-color);
}
.studio {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--secondary-color);
}

.menu {}

.menu-item {}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color); 
}

.menu-link:hover,
.menu-link :focus {
    color: var(--ocean-color);
}

.contacts-info {}

.contacts {
    font-size: 16px;
    line-height: 1.5x;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.contacts:hover,
.contacts:focus {
    color: var(--ocean-color);
}

/*----------HERO----------*/

.hero-section {
    background-color: var(--secondary-color);
}
.hero {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color); 
}
.buttons-list {}

.main-modal-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.main-modal-btn:hover,
.main-modal-btn:focus {
    background-color: var(--ocean-color);
}

.modal-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: var(--cloud-color);
    cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
    color: var(--white-color); 
    background-color: var(--ocean-color);
}

/*----------ADVANTAGES----------*/

.advantage-section {}
.advantages-item {}

.item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.description-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*----------ABOUT----------*/
.about-section {
}
.about,
.team {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color);
}

/*----------EMPLOYEES----------*/

.employees-section {
    background-color: var(--cloud-color);
}
.team {}
.employees-list {}
.team-list {}

.initials {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.occupation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*----------FOOTER----------*/

.footer {
    background-color: var(--secondary-color);
}

.web-footer {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--accent-color);
}
.studio-footer {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--cloud-color);
}

.f-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
}

/*----------PORTFOLIO----------*/

.portfolio-menu {}

.row-items {}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}